{% set highlight = "setting" %}
{% extends 'base.html' %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
		table {
			margin: 0 auto;
		}

		td {
			padding: 10px;
			border: 1px solid black;
		}
	</style>

    <title>Project Setting</title>
</head>
<body>
<br>
{% if user == 'admin'%}
    {% set column_display_style = '' %}
{% else %}
    {% set column_display_style = 'hidden' %}
{% endif %}
<div class="container {{ column_display_style }}" id="expandableContainer">
  <div class="content">
      <div  style="color: white;">Check to show table columns</div><br>
      {% for header in headers %}
        {% if header != 'entry' %}
        <input type="checkbox" name="{{ header }}" class="checkbox">
        <label style="color:white;">{{ header }}</label><br>
        {% endif %}
      {% endfor %}
      <button class="btn-outline-info" id="save_display_list">Apply</button>
  </div>
    <br>
  <button class="expand-button btn-outline-info" onclick="toggleContent()">Expand Column Visibility</button>
</div>

<form id="project" method="POST" action="" enctype="multipart/form-data" novalidate>
<h1 style="text-align:center;" id="project_title"></h1>
    <table id="table">
    {{ form_list.hidden_tag() }}

    <br/>
    <tr>
        {% set first_row = form_list.table_form.entries[0] %}
        {% for header in headers %}
            {% for field in first_row %}
                {% if '-'.join(field.name.split('-')[2:]) == header %}
                <td style="background-color: purple; text-align:center; font-size: 150%; font-weight: bold; color: white; text-transform: capitalize" data-name="{{header}}" class="header" style="text-align:center;">{{ field.label.text | replace('_', ' ')}}{{ field(class_='field_value_hidden') }}</td>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tr>
    <tr>
        {% set first_row = form_list.table_form.entries[0] %}
        {% for header in headers %}
            {% for field in first_row %}
                {% if '-'.join(field.name.split('-')[2:]) == header %}
                <td style="background-color:grey;" data-name="{{header}}"><input type="text" data-name="{{header}}" style="text-align:center;" class="searchbox" placeholder="Search"></td>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tr>


        <tbody id="tableBody">
        {% for row in form_list.table_form.entries %}
            <tr class="single_row">
                {% for header in headers %}
                {% for field in row %}
                {% if '-'.join(field.name.split('-')[2:]) == header %}
                <td  style="background-color:grey;" data-name="{{header}}">{{ field.data }}{{ field(class_='field_value_hidden', data_name=header) }}</td>
                {% endif %}
                {% endfor %}
                {% endfor %}
                <td style="border:none;">{{ row.edit(class="btn btn-outline-info modify_row") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <div id="pageNumbers">
        <!--<a id="prevTab" class="pageTab">Previous Tab</a>
        <a id="nextTab" class="pageTab">Next Tab</a>-->
    </div>
    <br>
    <div style="text-align: center;">{{ form_list.add(class='btn-outline-info') }}</div>
    <div style="text-align: center;" class="hidden">{{ form_list.sort_status(id="sort_status") }}</div>
    <!-- <div style="text-align: center;">{{ form_list.download }}</div>
    <div style="text-align: center;">{{ form_list.file }} {{ form_list.upload }}</div> -->

</form>
<!--<div style="text-align: center;">
  <a href="{{ url_for('project_form') }}"><button>Add Project</button></a>
</div>-->
</body>
</html>

<style>
    #pageNumbers{
        text-align: center;
        cursor: pointer;
    }
    .pageTab{
        margin-left: 10px;
        margin-right: 10px;
        color: #FFD700 !important;
    }

    .hidden, .page-hidden, .user-hidden, .cell-hidden {
        display: none;
        }

    .hidden-cell{
    visibility: hidden;
    position: absolute;
    border: 0px solid transparent
    }

    .container {
      overflow: hidden;
      transition: max-height 0.3s ease;
    }

    .content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
    }

    .expanded {
      max-height: 1000px; /* Set an appropriate value for the maximum height */
    }

    .field_value_hidden{
    display: none;
    }
    .submit-form{
    margin: 20px;
    }
    .add_row{
    margin-right: 10px;
    }
    .submit_table{
    margin-left: 10px;
    }

    .non-interactive:hover{
        pointer-events: none !important;;
        pointer-events: none !important;;
        border: none !important;;
        box-shadow: none !important;;
        outline: none !important;;
    }

    body {
      visibility: hidden;
    }

</style>

<script>
  function toggleContent() {
  var container = document.getElementById("expandableContainer");
  var content = container.querySelector(".content");
  var expandButton = container.querySelector(".expand-button");

  if (container.classList.contains("expanded")) {
    // Contract the container
    content.style.maxHeight = "0";
    expandButton.textContent = "Expand Column Visibility";
    container.classList.remove("expanded");
  } else {
    // Expand the container
    content.style.maxHeight = content.scrollHeight + "px";
    expandButton.textContent = "Collapse Column Visibility";
    container.classList.add("expanded");
  }
}

checkboxes = document.querySelectorAll('.checkbox');

document.addEventListener("DOMContentLoaded", function() {
  checkedNames = {{ show_list|safe }};
  console.log(checkedNames);
  //checkboxes = document.querySelectorAll('.checkbox');
  for (let n = 0; n < checkboxes.length; n++){
    checkboxName = checkboxes[n].getAttribute('name');
    if (checkedNames.includes(checkboxName)){
        checkboxes[n].checked = true;
    };
  }
  displayColumn();
});

function displayColumn(){
    checkedNames = [];
    fullList = [];
    for (let m = 0; m < checkboxes.length; m++){
        fullList.push(checkboxes[m].getAttribute('name'));
        if (checkboxes[m].checked == true){
            checkedNames.push(checkboxes[m].getAttribute('name'))
        }
    }
    console.log('checked boxes')
    console.log(checkedNames)
    const table = document.getElementById('table');
    const rows = table.getElementsByTagName('tr');
    //console.log('rows')
    //console.log(rows[0])
    //const columnNames = Array.from(rows[0].getElementsByTagName('th')).map(cell => cell.textContent.toLowerCase().replace(' ', '_'));
    //const columnNames = rows[0].getElementsByTagName('td');
    //console.log('column headers');
    //console.log(columnNames);
    for (let i = 0; i < rows.length; i++) {
      const cells = rows[i].querySelectorAll('th, td');
      for (let j = 0; j < cells.length; j++){
        if (checkedNames.includes(cells[j].getAttribute('data-name')) && fullList.includes(cells[j].getAttribute('data-name'))){
            //console.log('turn on display for')
            //console.log(columnNames[j])
            cells[j].style.display = '';
        }else if(fullList.includes(cells[j].getAttribute('data-name')) | cells[j].getAttribute('data-name') == 'entry'){
            cells[j].style.display = 'none';
        }

      }
    }
}

for (let n = 0; n < checkboxes.length; n++){
    checkboxes[n].addEventListener("change", function(){
        //displayColumn();
    })
}

document.addEventListener('DOMContentLoaded', function() {
      // When the DOM content is loaded, show the body
      document.body.style.visibility = 'visible';
      });

saveDisplayListButton = document.querySelector('#save_display_list');
saveDisplayListButton.addEventListener('click', function(){
    const xhr = new XMLHttpRequest();
    const url = '/save_display_list';

    checkedNames = [];
    for (let m = 0; m < checkboxes.length; m++){
        if (checkboxes[m].checked == true){
            checkedNames.push(checkboxes[m].getAttribute('name'))
        }
    }
    var payload = JSON.stringify({ show_list: checkedNames, table_name: 'project' })
    xhr.open('POST', url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.send(payload);

    xhr.onreadystatechange = function() {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
          const responseData = JSON.parse(xhr.responseText);
          // Process the response data
          console.log(responseData);
          displayColumn();
        } else {
          // Handle error
          console.log('Error:', xhr.status);
        }
      }
    };

})

</script>

<script>
        function ascendingColumn(tableBody, header) {
            console.log("sort event")
            var tableRows = table.querySelectorAll('.single_row');
            var tableRowsArray = [];
            var headerValuesArray = [];
            tableRows.forEach((row) => {
                tableRowsArray.push(row);
                var selector = '[data-name="' + header + '"]';
                var headerValue = row.querySelector(selector).textContent;
                headerValuesArray.push(headerValue);
            });
            var processedRows = [tableRowsArray[0]];
            var processedHeaderValues = [headerValuesArray[0]];

            for (i = 1; i < headerValuesArray.length; i++) {
                var j = 0;
                loop = true;
                while (loop) {
                    console.log('looping')
                    const comparison = headerValuesArray[i].localeCompare(processedHeaderValues[j]);
                    if (comparison < 0) {
                        tableBody.insertBefore(tableRowsArray[i], processedRows[j])
                        processedHeaderValues.splice(j, 0, headerValuesArray[i]);
                        processedRows.splice(j, 0, tableRowsArray[i])
                        loop = false;
                    } else if (j >= headerValuesArray.length - 1) {
                        loop = false;
                        tableBody.append(tableRowsArray[i]);
                        processedHeaderValues.push(headerValuesArray[i]);
                        processedRows.push(tableRowsArray[i])
                    }
                    j++;
                }
            }
        }

        function descendingColumn(tableBody, header) {
            console.log("sort event")
            var tableRows = table.querySelectorAll('.single_row');
            var tableRowsArray = [];
            var headerValuesArray = [];
            tableRows.forEach((row) => {
                tableRowsArray.push(row);
                var selector = '[data-name="' + header + '"]';
                var headerValue = row.querySelector(selector).textContent;
                headerValuesArray.push(headerValue);
            });
            var processedRows = [tableRowsArray[0]];
            var processedHeaderValues = [headerValuesArray[0]];

            for (i = 1; i < headerValuesArray.length; i++) {
                var j = 0;
                loop = true;
                while (loop) {
                    console.log('looping')
                    const comparison = headerValuesArray[i].localeCompare(processedHeaderValues[j]);
                    if (comparison > 0) {
                        tableBody.insertBefore(tableRowsArray[i], processedRows[j])
                        processedHeaderValues.splice(j, 0, headerValuesArray[i]);
                        processedRows.splice(j, 0, tableRowsArray[i])
                        loop = false;
                    } else if (j >= headerValuesArray.length - 1) {
                        loop = false;
                        tableBody.append(tableRowsArray[i]);
                        processedHeaderValues.push(headerValuesArray[i]);
                        processedRows.push(tableRowsArray[i])
                    }
                    j++;
                }
            }
        }

        var sortStatusField = document.querySelector('#sort_status');
        console.log('sort status from beginning')
        const tableBody = document.querySelector('#tableBody');
        const headers = document.querySelectorAll('.header')

        console.log(sortStatusField.value)

        if (sortStatusField.value != '') {
            var sortDict = JSON.parse(sortStatusField.value)
            if (sortDict['sort'] == 'ascending') {
                ascendingColumn(tableBody, sortDict['header']);
            } else if (sortDict['sort'] == 'descending') {
                descendingColumn(tableBody, sortDict['header']);
            }
        }


        headers.forEach((header) => {

            header.addEventListener('click', () => {
                console.log("click event")
                var headerName = header.getAttribute('data-name');

                if (sortStatusField.value == ''){
                    ascendingColumn(tableBody, headerName);
                    var sortDict = {'header': headerName, 'sort': 'ascending'}
                    sortStatusField.value = JSON.stringify(sortDict)
                } else if (JSON.parse(sortStatusField.value)['header'] != headerName) {
                    ascendingColumn(tableBody, headerName);
                    var sortDict = {'header': headerName, 'sort': 'ascending'}
                    sortStatusField.value = JSON.stringify(sortDict)
                } else if (JSON.parse(sortStatusField.value)['header'] == headerName && JSON.parse(sortStatusField.value)['sort'] == 'ascending'){
                    descendingColumn(tableBody, headerName);
                    var sortDict = {'header': headerName, 'sort': 'descending'}
                    sortStatusField.value = JSON.stringify(sortDict)
                } else if (JSON.parse(sortStatusField.value)['header'] == headerName && JSON.parse(sortStatusField.value)['sort'] == 'descending'){
                    ascendingColumn(tableBody, headerName);
                    var sortDict = {'header': headerName, 'sort': 'ascending'}
                    sortStatusField.value = JSON.stringify(sortDict)
                }

            })
        });

    </script>

 <script>
        const textFields = document.querySelectorAll('.searchbox')
        const tableRows = document.querySelector('#tableBody').querySelectorAll('.single_row')

        function getObjectValue(object){

            if (object.tagName == 'SELECT') {
                console.log('object tagName is ' + object.tagName + ' ' + object.multiple)
                console.log(object)
                console.log('object option length = ' + object.options.length)
                if (!object.multiple) {
                    for (i=0; i < object.options.length; i++) {
                        console.log('object tagName is ' + object.tagName + ' ' + object.multiple + ' ' + object.options[i].value)
                        if (object.options[i].selected) {
                            return object.options[i].value;
                        }
                    }
                } else if (object.options.length > 0) {
                    var appendedString = '';
                    for (i=0; i < object.options.length; i++) {

                        if (object.options[i].selected) {
                            appendedString = appendedString +object.options[i].value;
                        }
                    }
                    return appendedString;
                } else if (object.options.length == 0) {
                    console.log('multi options text content = ' + object.parentElement.textContent)
                    return object.parentElement.textContent;
                }

            } else {
                return object.value;
            }
        }

        function isValidDate(dateString) {

            // Attempt to create a Date object from the string
            var date = new Date(dateString);

            // Check if the date is a valid date and the string representation of the date is the same as the input string
            return !isNaN(date.getFullYear())
            }


        function isNumeric(value) {
          // Use parseFloat to attempt conversion to a floating-point number
          var number = parseFloat(value);

          // Check if the result is a number and not NaN
          return !isNaN(number) && isFinite(number);
        }

        function insertString(mainString, startIndices, endIndices, firstInsertString, lastInsertString) {
            indexDelta = 0;
            modifiedString = mainString;
            for (i = 0; i < startIndices.length; i++) {
                console.log('mainstring 1st sub = ' + mainString.substring(0, startIndices[i] + indexDelta))
                console.log('first insert string = ' + firstInsertString)
               modifiedString = modifiedString.substring(0, startIndices[i] + indexDelta) + firstInsertString + modifiedString.substring(startIndices[i] + indexDelta, endIndices[i] + indexDelta + 1) + lastInsertString + modifiedString.substring(endIndices[i] + indexDelta + 1);
               indexDelta = indexDelta + firstInsertString.length + lastInsertString.length

            }
            return modifiedString;
        }

        function findDateFromString(mainString) {

            dateStringArray = [];
            dateString = '';
            numericChars = '0123456789';
            numericIndices = [0, 1, 2, 3, 5, 6, 8, 9, 11, 12, 14, 15, 17, 18];
            colonIndices = [13, 16];
            spaceIndices = [10];
            hyphenIndices = [4, 7];
            dateIndex = 0;
            finalDateIndex = 0;
            startIndex = [];
            endIndex = [];

            for (i=0; i < mainString.length; i++) {

                if (numericIndices.includes(dateIndex) && numericChars.includes(mainString[i])){
                    dateString = dateString + mainString[i];
                    console.log('finding date string = ' + mainString[i] + '& date index is ' + dateIndex + 'datestring = ' + dateString)
                    dateIndex ++;
                    finalDateIndex++;
                    if (dateIndex == 1) {
                        if (startIndex.length == endIndex.length) {
                            startIndex.push(i)
                        } else if (startIndex.length > endIndex.length) {
                            startIndex[startIndex.length - 1] = i;
                        } else {
                            console.log('index error')
                        }
                    }

                } else if (hyphenIndices.includes(dateIndex) && mainString[i] == '-') {
                    dateString = dateString + mainString[i];
                    console.log('finding date string = ' + mainString[i] + '& date index is ' + dateIndex + 'datestring = ' + dateString)
                    dateIndex ++;
                    finalDateIndex++;
                    if (dateIndex == 1) {
                        if (startIndex.length == endIndex.length) {
                            startIndex.push(i)
                        } else if (startIndex.length > endIndex.length) {
                            startIndex[startIndex.length - 1] = i;
                        } else {
                            console.log('index error')
                        }
                    }
                } else if (spaceIndices.includes(dateIndex) && mainString[i] == ' ') {
                    dateString = dateString + mainString[i];
                    console.log('finding date string = ' + mainString[i] + '& date index is ' + dateIndex + 'datestring = ' + dateString)
                    dateIndex ++;
                    finalDateIndex++;
                    if (dateIndex == 1) {
                        if (startIndex.length == endIndex.length) {
                            startIndex.push(i)
                        } else if (startIndex.length > endIndex.length) {
                            startIndex[startIndex.length - 1] = i;
                        } else {
                            console.log('index error')
                        }
                    }
                } else if (colonIndices.includes(dateIndex) && mainString[i] == ':') {
                    dateString = dateString + mainString[i];
                    console.log('finding date string = ' + mainString[i] + '& date index is ' + dateIndex + 'datestring = ' + dateString)
                    dateIndex ++;
                    finalDateIndex++;
                    if (dateIndex == 1) {
                        if (startIndex.length == endIndex.length) {
                            startIndex.push(i)
                        } else if (startIndex.length > endIndex.length) {
                            startIndex[startIndex.length - 1] = i;
                        } else {
                            console.log('index error')
                        }
                    }
                } else {
                    dateIndex = 0;
                }

                console.log('date index = ' + dateIndex)
                console.log('final date index = ' + finalDateIndex)
                console.log('date string = ' + dateString)
                if (dateIndex > 18) {
                    console.log('full date string ' + dateString)
                    dateStringArray.push(dateString);
                    dateString = '';
                    endIndex.push(i)

                } else if (finalDateIndex > 9 && finalDateIndex <= 18 && ((dateIndex == 10 && i == mainString.length - 1) | dateIndex == 0)) {
                    console.log('dateIndex = ' + dateIndex)
                    console.log('i = ' + i + ' and mainstring length - 1 = ' + mainString.length - 1)
                    console.log('final index = ' + finalDateIndex)
                    console.log('date string = ' + dateString.slice(0, 10))
                    dateStringArray.push(dateString.slice(0, 10))
                    finalDateIndex = 0;
                    dateString = '';
                    endIndex.push(startIndex[startIndex.length - 1] + 9)
                }

            }

            if (startIndex.length > endIndex.length) {
                startIndex.pop()
            }
            console.log('date string array ')
            console.log(dateStringArray)
            console.log('startIndex ' + startIndex)
            console.log('endIndex ' + endIndex)
            //dateStringArray = sortByLengthDescending(dateStringArray)
            modifiedString = insertString(mainString, startIndex, endIndex, 'Date("', '")')
            console.log('modifiedString = ' + modifiedString);
            return modifiedString;
        }

        function findStringFromMainString(mainString) {
            subString = '';
            subStringArray = [];
            strIndex = 0;
            startIndex = [];
            endIndex = [];
            nonStrChars = ['=', '!', '.', '>', '<', '(', ')', '?', '&', '|'];
            for (i=0; i < mainString.length; i++) {
                if (!nonStrChars.includes(mainString[i])){
                    subString = subString + mainString[i];
                    strIndex ++;
                    console.log('adding chars')
                    console.log('substring = ' + subString)
                    }

                if ((strIndex > 0 && i >= mainString.length - 1)) {
                    strIndex = 0;
                    if (!subString.includes('"') && !subString.includes('includes') && !subString.includes('Date')) {
                        subStringArray.push(subString);
                        startIndex.push(i - subString.length + 1)
                        endIndex.push(i)
                    }
                    subString = '';
                } else if ((strIndex > 0 && nonStrChars.includes(mainString[i]))) {
                    strIndex = 0;
                    if (!subString.includes('"') && !subString.includes('includes') && !subString.includes('Date')) {
                        subStringArray.push(subString);
                        startIndex.push(i - subString.length)
                        endIndex.push(i - 1)
                    }
                    subString = '';
                }

            }
            console.log('start index = ' + startIndex)
            console.log('end index = ' + endIndex)
            console.log('substring array = ' + subStringArray)
            modifiedString = insertString(mainString, startIndex, endIndex, '"', '"')
            console.log('modified string = ' + modifiedString)
            //return subStringArray;
            return modifiedString
        }

        function findDotString(mainString) {
            leftCharsArray = [];
            rightCharsArray = [];
            startIndex = [];
            endIndex = [];
            nonStrChars = ['=', '!', '.', '>', '<', '(', ')', '?', '&', '|'];
            for (i = 0; i < mainString.length; i++) {

                if (mainString[i] == '.') {
                    j = i + 1;
                    k = i - 1;
                    rightChars = '';
                    leftChars = '';
                    while (true) {

                        if (nonStrChars.includes(mainString[k])) {
                            leftCharsArray.push(leftChars);
                            break;
                        } else if (k == 0) {
                            leftChars = mainString[k] + leftChars
                            break;
                        } else {
                            leftChars = mainString[k] + leftChars
                            k = k - 1;
                        }

                    }
                    while (true) {
                        if (nonStrChars.includes(mainString[j])) {
                            rightCharsArray.push(rightChars);
                            startIndex.push(j - rightChars.length)
                            endIndex.push(j - 1)
                            break;
                        }
                        else if (j >= mainString.length) {
                            rightCharsArray.push(rightChars);
                            startIndex.push(j - rightChars.length)
                            endIndex.push(j - 1)
                            break;
                        } else {
                            rightChars = rightChars + mainString[j]
                            j = j + 1;
                        }

                    }
                }
            }
            console.log('start index = ' + startIndex)
            console.log('end index = ' + endIndex)
            modifiedString = insertString(mainString, startIndex, endIndex, 'includes("', '")')
            console.log('modifiedString = ' + modifiedString)
            //return rightCharsArray;
            return modifiedString
        }

        function sortByLengthDescending(strings) {
            // Use the sort() method with a custom comparator function
            strings.sort(function(a, b) {
                // Compare strings by their length in descending order
                return b.length - a.length;
            });

            // Return the sorted array
            return strings;
        }

        function convertConditionalString(rowValue, conditionalString) {

            var rowValueDatatype = 'string';

            if (isValidDate(rowValue)){
                rowValueDatatype = 'date';
            } else if (isNumeric(rowValue)) {
                rowValueDatatype = 'float';
            }


            conditionalString = findDateFromString(conditionalString);
            conditionalString = findDotString(conditionalString);
            conditionalString = findStringFromMainString(conditionalString);

            //rightCharsArray = findDotString(conditionalString);
            /*dateStringArray.forEach((dateString) => {
                var searchString = new RegExp(dateString, "g");
                conditionalString = conditionalString.replace(searchString, 'Date("' + dateString + '")')
            })*/
            /*rightCharsArray.forEach((rightChars) => {
                var searchString = new RegExp(rightChars, "g");
                console.log('right string = ' + rightChars)
                conditionalString = conditionalString.replace(searchString, '"' + rightChars + '")')
            })*/


            conditionalString = conditionalString.replace(/\=/g, '==')
            conditionalString = conditionalString.replace(/\>==/g, '>=')
            conditionalString = conditionalString.replace(/\<==/g, '>=')
            conditionalString = conditionalString.replace(/\&/g, '&&')
            conditionalString = conditionalString.replace(/\|/g, '||')
            //conditionalString = conditionalString.replace(/\!/g, '!=')
            //conditionalString = conditionalString.replace(/\./g, '.includes(')
            console.log('datatype = ' + rowValueDatatype)
            if (rowValueDatatype == 'date'){
                conditionalString = conditionalString.replace(/\?/g, 'Date("' + rowValue + '")');
            } else if (rowValueDatatype == 'float') {
                console.log('this is float')
                conditionalString = conditionalString.replace(/\?/g, rowValue);
            } else if (rowValueDatatype == 'string') {
                console.log('in string section')
                var searchString = new RegExp(rowValue, "g");
                conditionalString = conditionalString.replace(/\?/g, '"' + rowValue + '"');
            }

            console.log('condition statement');
            console.log(conditionalString);
            return conditionalString;
        }

        function filterOneColumn(header, value) {
            console.log('filtering column')
            var filteredEntries = [];
            tableRows.forEach((tr) => {
                var headerValue = getObjectValue(tr.querySelector('[data-name="' + header + '"]').querySelector('[data-name="' + header + '"]'));
                console.log("header value = " + headerValue);
                // replace the following if statement with custom compare
                console.log('header value = ' + headerValue);
                if (value.includes('?')) {
                    console.log('? detected')
                    var conditionalStatement = convertConditionalString(headerValue, value)
                    console.log('conditional statement =')
                    console.log(conditionalStatement)
                    if (eval(conditionalStatement)) {
                        filteredEntries.push(tr);
                    }
                } else if (headerValue.includes(value)) {

                    console.log('no ?')
                    filteredEntries.push(tr);
                }
            })
            return filteredEntries
        }

        function filteredAllColumns(){
            filteredArrayCluster = [];
            textFields.forEach((textField) => {
                if (textField.value != "" && textField.value != null){
                    header = textField.getAttribute('data-name');
                    value = textField.value;
                    filteredArray = filterOneColumn(header, value);
                    filteredArrayCluster.push(filteredArray);
                }
            });
            commonEntries = findCommonElements(filteredArrayCluster);
            return commonEntries;
        }

        function findCommonElements(arrays) {
            if (arrays.length == 1) {
                return arrays[0];
            }

            if (arrays.length == 0) {
                return "all";
            }

            // Start with the first array as the base
            const baseArray = arrays[0];

            // Use the filter method to check if each element in the base array
            // exists in all other arrays
            const commonElements = baseArray.filter(element => {
                return arrays.every(array => array.includes(element));
            });

            return commonElements;
        }

    function showRowsFromEntries(entries){
        tableRows.forEach((tr) => {
            console.log(tr.querySelector('[data-name="entry"]').textContent)
            console.log(entries)
            console.log(entries.includes(tr.querySelector('[data-name="entry"]').textContent))
            if (entries != "all" && !(entries.includes(tr))){
                console.log("hiding row entry number " + tr.querySelector('[data-name="entry"]').textContent)
                //tr.style.display = "none";
                tr.classList.add("hidden");
                //assignPageNumber();
                //showPageContent(currentSelectedPage)
            } else {
                //tr.style.display = "";
                tr.classList.remove("hidden")
                //assignPageNumber();
                //showPageContent(currentSelectedPage)

            }
        })
        assignPageNumber();
    }
    textFields.forEach((textField) => {
        textField.addEventListener('input', () => {
        commonEntries = filteredAllColumns();
        console.log("common entries = " + commonEntries);
        console.log("length of commen entries = " + commonEntries.length)
        showRowsFromEntries(commonEntries);
        });
    });


    </script>

<script>
        var currentSelectedPage = 1;
        const tableBodyRows = document.querySelector('#tableBody').querySelectorAll('tr')
        const maxPageHeightPx = 1000;
        const maxNumberOfRows = 10;
        const pageNumberGroup = document.querySelector('#pageNumbers')
        var pageNumberButtons = pageNumberGroup.querySelectorAll('.pageNumber');
        pageNumberButtons.forEach((pageButton) => {
            pageNumberGroup.removeChild(pageButton);
        })
        assignPageNumber();
        showPageContent(currentSelectedPage)

        function assignPageNumber() {
            console.log('assign page called')
            console.log('total number of rows = ' + tableBodyRows.length)

            var pageNumberButtons = pageNumberGroup.querySelectorAll('.pageNumber');
            var nextTabButton = pageNumberGroup.querySelector('#nextTab');
            pageNumberButtons.forEach((pageButton) => {
                pageNumberGroup.removeChild(pageButton);
            })
            var currentPageHeight = 0;
            var currentPageRowNumber = 0;
            var currentPageNumber = 1;
            var newTab = document.createElement("a")
            newTab.classList.add('pageTab')
            newTab.textContent = String(currentPageNumber)
            newTab.classList.add('pageNumber')
            newTab.setAttribute("data-pageNumber", currentPageNumber)
            pageNumberGroup.insertBefore(newTab, nextTabButton)
            // count hidden rows //
            var hiddenRows = []
            tableBodyRows.forEach((row) => {
                if (row.classList.contains("hidden")) {
                    hiddenRows.push(row)
                }
            })
            console.log('total number of hidden rows = ' + hiddenRows.length)
            //
            tableBodyRows.forEach((row) => {
                var cellInRow = row.querySelector('td')
                var rowHeight = cellInRow.offsetHeight;
                var rowCount = 1;

                var isHidden = false;

                if (row.classList.contains("hidden")) {
                    isHidden = true;
                    rowHeight = 0;
                    rowCount = 0;

                }

                currentPageHeight = currentPageHeight + rowHeight;
                currentPageRowNumber = currentPageRowNumber + rowCount;


                if (currentPageRowNumber <= maxNumberOfRows) {
                    row.setAttribute('data-pageNumber', currentPageNumber)
                } else {

                    currentPageHeight = 0;
                    currentPageRowNumber = 0;
                    currentPageNumber = currentPageNumber + 1;

                    newTab = document.createElement("a")
                    newTab.classList.add('pageTab')
                    newTab.textContent = String(currentPageNumber)
                    newTab.classList.add('pageNumber')
                    newTab.setAttribute("data-pageNumber", currentPageNumber)
                    pageNumberGroup.insertBefore(newTab, nextTabButton)
                    row.setAttribute('data-pageNumber', currentPageNumber)
                }

            })
        }

        function showPageContent(pageNumber) {
            tableBodyRows.forEach((row) => {

                if (!row.classList.contains('hidden') && row.getAttribute('data-pageNumber') != pageNumber) {
                    row.classList.add('page-hidden')
                    //row.style.display = 'none';
                } else if (!row.classList.contains('hidden') && row.getAttribute('data-pageNumber') == pageNumber) {
                    row.classList.remove('page-hidden')
                    //row.style.display = '';
                }
            })
        }

        pageNumberGroup.addEventListener('click', (event) => {
            var targetPageTab = event.target;
            if (targetPageTab.getAttribute('data-pageNumber') != null) {
                targetPageTab.addEventListener('click', () => {
                    currentSelectedPage = targetPageTab.getAttribute('data-pageNumber');
                    showPageContent(currentSelectedPage)
                })
            }
            targetPageTab.click();
            currentSelectedPage = targetPageTab.getAttribute('data-pageNumber')
            decorateTab()

        })

        function decorateTab() {
            var tabs = pageNumberGroup.querySelectorAll('.pageNumber');
            tabs.forEach((tab) => {
                if (tab.getAttribute('data-pageNumber') == currentSelectedPage) {
                    tab.style.textDecoration = 'underline';
                } else {
                    tab.style.textDecoration = '';
                }
            })
        }
        decorateTab()
    </script>

{% endblock content %}