{% set highlight = "" %}
{% extends "base.html" %}
{% block content %}


    <style>
        .container {
        width: 300px;
        max-width: 90%;
        }
    </style>
    <div class="content-section">
        <div class="container">
            <form method="POST" action="" id="form_list">

                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4" style="text-align:center; color: white;">Password Reset</legend>
                    <div class="form-group" style="text-align:left; color: white;">username: {{ user_name }}</div>
                    <div class="form-group" style="text-align:left; color: white">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                        {{ form.password(class="form-control for-control-lg is-invalid") }}
                        <div class="invalid-feedback" style="text-align:left;">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class="form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group" style="text-align:left;">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control for-control-lg is-invalid") }}
                        <div class="invalid-feedback" style="text-align:left;">
                            {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.confirm_password(class="form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group" style="text-align:center;">
                    {{ form.submit(class="btn btn-outline-info") }}
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

{% endblock content %}